@using Guia4_ADS_CrudCarrera.Utilities
@model IEnumerable<Guia4_ADS_CrudCarrera.Models.Profesor>

@{
    ViewBag.Title = "Profesores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Indice de Profesores</h2>

<p>
    @Html.ActionLink("Crear", "Form", new { operacion = Operacion.insertar }, new { @class = "btn btn-primary" })
</p>
@if (Model.Count() > 0)
{

    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>Acciones</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Form", new { id = item, operacion = Operacion.modificar },
                                                       new { @class = "btn btn-xs btn-warning" }) |
                    @Html.ActionLink("Detalles/Ver", "Form", new { id = item, operacion = Operacion.ver },
                                                       new { @class = "btn btn-xs btn-default" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item, operacion = Operacion.eliminar },
                                                       new { @class = "btn btn-xs btn-danger" })
                </td>
            </tr>
        }

    </table>
}
else
{<h4 class="text-center">No hay datos.</h4>}
